<div class="row">
  <aside class="col-xs-4">
    <%= render 'user', users: @users %>
  </aside>
  <div class="col-xs-8">
    <div class="text-center">
      <h1>このユーザーのブログ一覧</h1><br>
    </div>
    <%= render 'blogs/blogs', blogs: @blogs %>
  </div>
</div>